/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 dic 2022, 08:53:35
    Author     : caiofior
*/


.absolute {
    position: absolute;
    top: auto;
}